.book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-main);
  box-shadow: var(--box-shadow-default);
  width: 42rem;
  // height: 60.8rem;
  padding: 2.8rem 2.7rem;
  border-radius: 2.5rem;

  &__heading {
    font-size: var(--fs-medium);
    margin-bottom: 1rem;
  }

  &__btn--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
